

.input-side{
    /* Account Name* */

margin-bottom: 30rem;
margin-right: 3rem;
margin-left: 5rem;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 31px;

color: #53597B;


}

.vertical p{
    margin-left: 1rem;
    color: red;
    font-weight: bold; /* Yazıyı kalınlaştır */
    font-size: 1.2rem; 
}

.vertical { 
    border-top: 2px solid #53597B;
    width:  92rem;
    position: absolute;
    top: 23rem;
    left: 1rem;
}

.header p{
    margin-top: 1rem;
    margin-left: 1rem;
    bottom: 2.5rem;
    color: red;
    font-weight: bold; /* Yazıyı kalınlaştır */
    font-size: 1.2rem; 
}






