<div class="input-background container">
    <form [formGroup]="form" (submit)="onFormSubmit()">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <app-input inputClasses="genericInputClass" labelClasses="genericLabelClass" type="text" inputId="eMail"
                    [required]="true" [control]="form.get('email')">
                    E-Mail
                </app-input>
                <div
            class="mt-3"
            *ngIf="
              form.controls['email'].errors !== null &&
              form.get('email')?.touched
            "
          >
            <p class="text-danger fw-bold">
              {{ form.get("email")?.errors | errorMessages }}
            </p>
          </div>
                <app-input inputClasses="genericInputClass" labelClasses="genericLabelClass" type="number"
                    inputId="mobilPhone" [required]="true" [control]="form.get('mobilePhone')">
                    Mobil Phone
                </app-input>
                <div
            class="mt-3"
            *ngIf="
              form.controls['mobilePhone'].errors !== null &&
              form.get('mobilePhone')?.touched
            "
          >
            <p class="text-danger fw-bold">
              {{ form.get("mobilePhone")?.errors | errorMessages }}
            </p>
          </div>
            </div>
            <div class="col-md-6">
                <app-input inputClasses="genericInputClass" labelClasses="genericLabelClass" type="number"
                    inputId="homePhone" [control]="form.get('homePhone')">
                    Home Phone
                </app-input>
                <div
            class="mt-3"
            *ngIf="
              form.controls['homePhone'].errors !== null &&
              form.get('homePhone')?.touched
            "
          >
            <p class="text-danger fw-bold">
              {{ form.get("homePhone")?.errors | errorMessages }}
            </p>
          </div>
                <app-input inputClasses="genericInputClass" labelClasses="genericLabelClass" type="number" inputId="fax"
                    [control]="form.get('fax')">
                    Fax
                </app-input>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <app-button type="button" buttonClasses="page-controller-left-btn" (click)="goPrevious()">Previous</app-button>
                </div>
                <div class="col-md-6">
                    <app-button type="submit" class="float-right" [ngClass]="{'':isformValid,'':!isformValid}" buttonClasses="page-controller-right-btn">Create</app-button>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
    </form>
</div>