.menu-btn {
    width: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-btn .dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #53597B;
    border-radius: 50%;
    margin: 2px 0;
}

.menu-items {
    background-color: transparent; 
    display: none;
    position: absolute;
    right: 0.6rem;
    top: 1.5rem;
}
.menu-items.show {
    display: block;
}
