<div class="input-background">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="address-box mb-0">
                <div class="row">
                    <div class="col-md-10">
                        <p>Ankara, 610.Cadde, 33/12, Alize Apartmanı</p>
                    </div>
                    <div class="col-md-2">
                        <div class="actions">
                            <div class="menu-btn" (click)="toggleMenu(1)">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <div class="menu-items" [class.show]="isMenu1Open">
                                <!-- Edit and Delete buttons -->
                                <app-button buttonClasses="edit-button">Edit</app-button>
                                <app-button buttonClasses="edit-button">Delete</app-button>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-check primary-checkbox">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Select as a primary address
                    </label>
                </div>

            </div>
            <app-button type="button" routerLink="/create/customer" buttonClasses="page-controller-left-btn"
                style="margin-top: 1rem;">Previous</app-button>
        </div>
        <div class="col-md-6">
            <div class="address-box mb-0">
                <div class="row">
                    <div class="col-md-10">
                        <p>Ankara, 610.Cadde, 33/12, Alize Apartmanı</p>
                        <etiya-create-address-form></etiya-create-address-form>
                    </div>
                    <div class="col-md-2">
                        <div class="actions">
                            <div class="menu-btn" (click)="toggleMenu(2)">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <div class="menu-items" [class.show]="isMenu2Open">
                                <!-- Edit and Delete buttons -->
                                <app-button type="button"  buttonClasses="edit-button">Edit</app-button>
                                <app-button buttonClasses="edit-button">Delete</app-button>
                            </div>
                        </div>
                        
                    </div>
                    
                    
                </div>
                <div class="form-check primary-checkbox">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Select as a primary address
                    </label>
                </div>
                
                

            </div>
            <app-button type="submit" buttonClasses="page-controller-right-btn"
                style="margin-top: 1rem;">Next</app-button>
        </div>
    </div>
</div>