<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col">
                    <app-input inputClasses="contact-medium-update-input"
                    labelClasses="contact-medium-update-label" type="text" inputId="eMail" >
                    E-Mail*:
                </app-input>
                    </div>
                    
                    <div class="col">
                        <app-input inputClasses="contact-medium-update-input"
                        labelClasses="contact-medium-update-label" type="text" inputId="mobilPhone" >
                        Mobil-Phone*:
                    </app-input>
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col">

                <app-input inputClasses="contact-medium-update-input"
                labelClasses="contact-medium-update-label" type="text" inputId="homePhone" >
                Home-Phone:
                </app-input>

                </div>

                <div class="col">
                    <app-input inputClasses="contact-medium-update-input"
                    labelClasses="contact-medium-update-label" type="text" inputId="fax" >
                    Fax:
                </app-input>
                </div>
            </div>
        </div>
    
    </div>
    <div class="button-box">
        <div class="cancel-button">
           <app-button buttonClasses="cancel-save-button">Cancel</app-button>
        </div>
        <div class="save-button">
            <app-button buttonClasses="cancel-save-button">Save</app-button>
        </div>
    </div> 
</div>
