<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col">
                    <label for="e-mail">First Name:</label>
                    <label for="e-mail-descreption" class="descreption">descreption</label>
                </div>
                <div class="col">
                    <label for="mobil-phone">Last Name:</label>
                    <label for="mobil-phone-descreption" class="descreption">descreption</label>
                </div>
                <div class="col">
                    <label for="mobil-phone">Gender:</label>
                    <label for="mobil-phone-descreption" class="descreption">descreption</label>
                </div>
                <div class="col">
                    <label for="mobil-phone">Mother Name:</label>
                    <label for="mobil-phone-descreption" class="descreption">descreption</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col">
                    <label for="home-phone">Middle Name:</label>
                    <label for="home-phone-descreption" class="descreption">descreption</label>
                </div>
                <div class="col">
                    <label for="fax">Birth Date:</label>
                    <label for="fax-descreption" class="descreption">descreption</label>
                </div>
                <div class="col">
                    <label for="fax">Father Name:</label>
                    <label for="fax-descreption" class="descreption">descreption</label>
                </div>
                <div class="col">
                    <label for="fax">Nationality ID:</label>
                    <label for="fax-descreption" class="descreption">descreption</label>
                </div>
            </div>
        </div>
    </div>
</div>