<div class="general-box">
    Search Customer
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="header">Search Filter</div>
                <form  [formGroup]="searchForm">
                    <label class="input-text-label" >ID Number</label>
                    <app-input inputClasses="customer-search-page-input" [control]="searchForm.get('idNumber')" type="text"
                        [required]="false"></app-input>
                    <label class="input-text-label">Customer Id</label>
                    <app-input inputClasses="customer-search-page-input" type="text"
                        [required]="false" [control]="searchForm.get('customerId')"></app-input>
                    <label class="input-text-label">Account Number</label>
                    <app-input inputClasses="customer-search-page-input" type="text"
                        [required]="false" [control]="searchForm.get('accountNumber')"></app-input>
                    <label class="input-text-label">GSM Number</label>
                    <app-input inputClasses="customer-search-page-input" type="text"
                        [required]="false" [control]="searchForm.get('gsmNumber')"></app-input>
                    <label class="input-text-label">First Name</label>
                    <app-input inputClasses="customer-search-page-input" type="Text"
                        [required]="false" [control]="searchForm.get('firstName')"></app-input>
                    <label class="input-text-label">Last Name</label>
                    <app-input inputClasses="customer-search-page-input" type="Text"
                        [required]="false" [control]="searchForm.get('lastName')"> </app-input>
                    <label class="input-text-label">Order Number</label>
                    <app-input inputClasses="customer-search-page-input" type="text"
                        [required]="false" [control]="searchForm.get('orderNumber')"></app-input>

                    <app-button type="button" buttonClasses="customer-search-page-button" [isDisable]="disableClearButton"
                        (click)="clearForm()">
                        Clear</app-button>
                    
                    <app-button type="submit" [isDisable]="disableSearchButton"
                        buttonClasses="customer-search-page-button" (click)="search()">Search</app-button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box">
                <div class="header">Search Results</div>
                <div class="result-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="table-header" scope="col">Customer ID</th>
                                <th class="table-header" scope="col">First Name</th>
                                <th class="table-header" scope="col">Second Name</th>
                                <th class="table-header" scope="col">Last Name</th>
                                <th class="table-header" scope="col">Role</th>
                                <th class="table-header" scope="col">ID Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of searchFilterResponse" class="bg-primary">
                                <td>{{customer.id}}</td>
                                <td>{{customer.firstName}}</td>
                                <td>{{customer.middleName}}</td>
                                <td>{{customer.lastName}}</td>
                                <td>{{customer.role}}</td>
                                <td>{{customer.nationalityId}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div *ngIf="!searchFilterResponse.length">
                        <p>No customer found! Would you like 
                            to create the customer?</p>
                            <app-button routerLink="/create/customer"  type="button" buttonClasses="create-customer-button-in-customer-search-page">Create Customer </app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>