<div class="midle-navigate">
    <app-button type="button" routerLink="/address-edit-delete"  buttonClasses="midle-navbar-button" >Customer Info</app-button>
    <app-button type="button" routerLink="/customer/account/information"  buttonClasses="midle-navbar-button" >Customer Account</app-button>
    <app-button type="button" routerLink="/address-edit-delete"  buttonClasses="midle-navbar-button" >Address</app-button>
    <app-button type="button" routerLink="/info-contact-medium"  buttonClasses="midle-navbar-button" >Contact Medium</app-button>
  </div>
  