<div class="midle-navigate">
    <app-button type="button" routerLink="/customer-information"  buttonClasses="midle-navbar-button" (click)="changeColor($event)">Customer Info</app-button>
    <app-button type="button" routerLink="/info-contact-medium"  buttonClasses="midle-navbar-button" (click)="changeColor($event)">Customer Account</app-button>
    <app-button type="button" routerLink="/address-edit-delete"  buttonClasses="midle-navbar-button" (click)="changeColor($event)">Address</app-button>
    <app-button type="button" routerLink="/info-contact-medium"  buttonClasses="midle-navbar-button" (click)="changeColor($event)">Contact Medium</app-button>
  </div>
  