.genericLoginClass {
    border-radius: 0.9375rem;
    width: 22.1875rem;
    height: 2.5rem;
    padding: 0.3125rem 0.625rem;
}

.genericInputClass {
    border-radius: 0.7rem;
    width: 13rem;
    height: 2rem;
    padding: 0.3125rem 0.625rem;
    margin-bottom: 3rem;
    margin-left: 5rem;

}

.genericLabelClass {
    color: white;
}

.required {

    color: #FF8A00;
    padding-right: 0.5rem;
}

.customer-search-page-input {
    width: 22rem;
    height: 1.5rem;
    padding: 0.3125rem 0.625rem;
    margin-bottom: 0.5rem;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
}