<div class="input-background">
  <form [formGroup]="form" (submit)="onFormSubmit()" class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <app-input inputClasses="genericInputClass" labelClasses="genericLabelClass" type="text" inputId="firstName"
          [required]="true" [control]="form.get('firstName')">
          <label for="">First Name</label>
        </app-input>
        <div
            class="mt-3"
            *ngIf="
              form.controls['firstName'].errors !== null &&
              form.get('firstName')?.touched
            "
          >
            <p class="text-danger fw-bold">
              {{ form.get("firstName")?.errors | errorMessages }}
            </p>
          </div>
        <app-input inputClasses="genericInputClass" labelClasses="genericLabelClass" type="text" inputId="lastName"
          [required]="true" [control]="form.get('lastName')">
          Last Name
        </app-input>
        <div
            class="mt-3"
            *ngIf="
              form.controls['lastName'].errors !== null &&
              form.get('lastName')?.touched
            "
          >
            <p class="text-danger fw-bold">
              {{ form.get("lastName")?.errors | errorMessages }}
            </p>
          </div>
        <div class="input-container ">
          <label for="gender">Gender</label>
          <select id="gender" formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <app-input inputClasses="genericInputClass" labelClasses="genericLabelClass" type="text" inputId="motherName"
          [control]="form.get('motherName')">
          Mother Name
        </app-input>
        <div
            class="mt-3"
            *ngIf="
              form.controls['motherName'].errors !== null &&
              form.get('motherName')?.touched
            "
          >
            <p class="text-danger fw-bold">
              {{ form.get("motherName")?.errors | errorMessages }}
            </p>
          </div>
        <app-button type="button" buttonClasses="page-controller-left-btn" (click)="onCancel()">Cancel</app-button>


      </div>
      <div class="col-md-6 ">

        <app-input inputClasses="genericInputClass" labelClasses="genericLabelClass" type="text" inputId="middleName"
          [control]="form.get('middleName')">
          Middle Name
        </app-input>
        <div
            class="mt-3"
            *ngIf="
              form.controls['middleName'].errors !== null &&
              form.get('middleName')?.touched
            "
          >
            <p class="text-danger fw-bold">
              {{ form.get("middleName")?.errors | errorMessages }}
            </p>
          </div>
        <div class="input-container ">
          <label for="birthDate">Birth Date</label>
          <input type="date" id="birthDate" formControlName="birthDate" min="1920-01-01" [max]="formattedDate">
        </div>
        <app-input inputClasses="genericInputClass" labelClasses="genericLabelClass" type="text" inputId="fatherName"
          [control]="form.get('fatherName')">
          Father Name
        </app-input>
        <app-input appNumberInput inputClasses="genericInputClass" labelClasses="genericLabelClass" type="text" inputId="nationalityId"
          [required]="true" [control]="form.get('nationalityId')" maxlength="11">
          Nationality ID
        </app-input>
        <div
            class="mt-3"
            *ngIf="
              form.controls['nationalityId'].errors !== null &&
              form.get('nationalityId')?.touched
            "
          >
            <p class="text-danger fw-bold">
              {{ form.get("nationalityId")?.errors | errorMessages }}
            </p>
          </div>

        <app-button type="submit" class="float-right" buttonClasses="page-controller-right-btn" [isDisable]="form.invalid">Next</app-button>


      </div>


      <div class="w-100"></div>

    </div>
  </form>
</div>