<div class="middle-navigate">
    <app-button type="button" routerLink="/info/customer-information"  buttonClasses="middle-navbar-button">Customer Info</app-button>
    <app-button type="button" routerLink="/info/customer-account"  buttonClasses="middle-navbar-button">Customer Account</app-button>
    <app-button type="button" routerLink="/info/address-edit-delete"  buttonClasses="middle-navbar-button">Address</app-button>
    <app-button type="button" routerLink="/info/contact-medium-information"  buttonClasses="middle-navbar-button">Contact Medium</app-button>
  </div>
  