<app-navbar></app-navbar>

<div class="sidebar">
    <div class="row">
        <div class="col-md-1">
            <div class="sidebar-location">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="mt-5" style="margin-left: 25rem;"><middle-navbar ></middle-navbar></div>

        <div class="vertical"><p>Contact Medium Update</p></div>
       
        <div class="form"><app-update-contact-medium-form></app-update-contact-medium-form>

        </div>
   
       
    </div>
</div>




