.vertical { 
    border-top: 2px solid #53597B;
    width:  80rem;   
    position: absolute;
    top: 20rem;
    left: 10rem;
}
.vertical h4{
    position: relative;
    bottom: 2.5rem;
    left:1rem;

}
.form{
    position: absolute;
    top:25rem;
    left: 10rem;
}
.button-box{
    width: 10rem;
    position: absolute;
    left: 80rem;
}
.middle-navbar{
    margin-top: 3rem;
    margin-left: 25rem;
}