<div class="fs-4 px-5">
    <div class="row my-3">
        <div class="col-3">
            Order ID
        </div>
        <div class="col-7">
            02291123
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
            Order Items
        </div>
        <div class="col-7 order-items-background text-white py-2">
            <p>71233 - 8Mbps’ye kadar / 4 GB Kotalı ADSL Internet </p>
            <p>202610 - Müşteri Modemi PR</p>
            <p>126030 - Aktivasyon/Peşin</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
            Service Address
        </div>
        <div class="col-7">
            City,Street Name, House/Flat Number
            Address Description
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
            Total Amount
        </div>
        <div class="col-7">
            139.80₺
        </div>
    </div>

</div>
<div class=" py-5">
    <div class="row">
        <div class="col-6">

            <app-button class="mb-3" type="button" class="float-left"
                buttonClasses="page-controller-left-btn" (click)="navigatePrevious()" >Previous</app-button>
        </div>
        <div class="col-6">
            <app-button class="mb-3" type="button" class="float-right"
                buttonClasses="page-controller-right-btn">Submit</app-button>
        </div>
    </div>
</div>