.sidebar-location{
    position: absolute;
    top:10rem;
    left: 2rem;
}

.vertical { 
    border-top: 3px solid #53597B;
    width:  80rem;   
    margin-top: 5rem;
}
.vertical h4{
    position: relative;
    bottom: 3rem;
    left:2rem;
}
.bi-pencil{
    bottom: 4rem;
    width:1rem;
    height:1rem;
}