<button type="button" class="addAddressButton" (click)="openPopup()">New Address</button>

<div id="myModal" class="modal fade " tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content body-background">
            <form [formGroup]="form" (submit)="onFormSubmit()">
            <div class="modal-header ">
                <button type="button" (click)="closePopup()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col">
                        <div class="input-container">
                            <label for="city">City</label>
                            <select id="city" formControlName="cityId">
                                <option selected>Select</option>
                                <option value="1">Seçenek 1</option>
                            </select>
                        </div>

                        
                        <div class="form-group">
                            <app-input inputClasses="genericInputClass" [required]="true"
                                labelClasses="genericLabelClass" type="text" inputId="houseNumber" [control]="form.get('houseNumber')">
                                Hause/Flat Number
                            </app-input>
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-group">
                            <app-input inputClasses="genericInputClass" [required]="true"
                                labelClasses="genericLabelClass" type="text" inputId="street" [control]="form.get('street')">
                                Street
                            </app-input>
                        </div>
                        

                    </div>
                    <div class="form-group ">
                        <label for="addressDescription " class="description-header">Address Description</label>
                        <textarea class="form-control" id="addressDescription" rows="4" maxlength="500"
                            placeholder="enter address description here..." formControlName="description"></textarea>
                        <small class="form-text popup-letter-text">Max. 500 letters</small>
                    </div>
                    <div style="margin-bottom: 2rem; margin-top: 2rem;">
                        <app-button type="button" buttonClasses="page-controller-left-btn" (click)="closePopup()">Cancel</app-button>
                        <app-button  type="submit"  buttonClasses="page-controller-right-btn" class="float-right" 
                            style="padding-left: 10rem;">Save</app-button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>