.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    width: 23rem;
    background-color: transparent;
    /* Şeffaf arka plan */
}


.input-container {
    margin-bottom: 2rem;
}



.remember-me-checkbox {
    color: #FF8A00;
}


.etiya-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}




















