.tab-background{
    background-color: #363F69;
}
.basket-background{
    background-color: #363f69e3;
}

.button-bottom{
    position: absolute;
    bottom: 0;
}
.horizantal { 
    border-top: 5px solid #FF8A00;
    width: 80%;   
}