/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/aura-light-amber/theme.css";
@import "primeng/resources/primeng.css";



body {
    margin: 0;
}

.input-background{
    width: 100%;
    height: 100%;
    background-color: #2D355A;
  }

.float-right{
    float: right;
  }


  .form-group {
    flex-direction: column;
}

.form-group .col {
    margin-bottom: 6.43rem; // İstediğiniz boşluk miktarını ayarlayabilirsiniz
}
.button-box{
    position: absolute;
    right:10rem;
}
.cancel-button{
    position: absolute;
    right:8rem;
}

.add-new-address-button {
    width: 12.5rem;
    height: 4rem;
    border-radius: 15px;
    background-color: white;
}

.add-new-address-button{
    align-content: center;
    text-align: center;
}

