.popup-letter-text{
    position:absolute;
     padding-top: 0.2rem;
     padding-left: 60rem;
     color: #FF8A00;
}

label[for="exampleSelect"]:after {
    content: '*';
    color: #FF8A00;
    margin-left: 0.2rem;
}

.body-background{
    background-color: #363F69;
}

.input-container label {
    color: #ffffff; /* Labellerin rengi */
    margin-bottom: 3rem;
    border-radius: 7rem;
    
}
label[for="city"]:after {
    content: '*';
    color: #FF8A00;
    padding-right: 5rem;
}

.description-header{
    color: white;
    
}

.addAddressButton{
    background-color: #ffffff;
}