
<div class="table-responsive">
    <table class="table accordion mt-5">
        <thead>
            <tr>
                <app-table [headers]="mainTableHeaders" [showLeftIcon]="false" ></app-table>
            </tr>
        </thead>
        <tbody>
            <tr data-bs-toggle="collapse" data-bs-target="#r1">
                <app-table  [headers]="mainTableHeaders2" [rows]="mainTableRows" [showLeftIcon]="false" ></app-table>
            </tr>

            <tr class="collapse accordion-collapse" id="r1" data-bs-parent=".table">
                <td colspan="5">
                    <div class="container">
               <app-table [headers]="middleTableHeaders" [rows]="middleTableRows" [showLeftIcon]="false" ></app-table>
            </div>
            <div class="d-flex justify-content-center">
            <app-button class="btn mx-2" buttonClasses="customer-accounts-button">Start New Sale</app-button>
            <app-button class="btn mx-2" buttonClasses="customer-accounts-button">Transfer</app-button>
            <app-button class="btn mx-2" buttonClasses="customer-accounts-button">Service Address Change</app-button>
            </div>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
