<div class="background2">
    <div class="navbar-position">
        <app-navbar></app-navbar>
    </div>
    <h1 class="header">Create Customer</h1>
    <p class="subtext">Demographic Info</p>


</div>

<div class="background3"><app-create-customer-form></app-create-customer-form></div>

<!-- <div class="row">
    <div class="col">
        <app-button type="button" buttonClasses="page-controller-left-btn">Cancel</app-button>
   
    <div class="col">
        <app-button type="button" buttonClasses="page-controller-right-btn">Next</app-button>
 
    <div class="w-100"></div>
</div> -->